<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Photo Search App (Using Flickr Public API)</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
</head>

<body ng-app="photoSearchApp">

<div id="loading-wrapper" style="display: none;">
    <img src="images/ajax-loader.gif" class="ajax-loader"/>
</div>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" ng-controller="RequestsController">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#/index">
                    Поиск изображений
                </a>
            </li>
            <li ng-repeat="request in requests" class="sidebar-element">
                <a href="#/details/{{ request.id }}"><i class="fa fa-search" aria-hidden="true"></i> {{ request.name }} (<span ng-repeat="tag in request.tags">{{ tag }}<span
                        ng-if="!$last">,</span></span>)</a>
            </li>
            <li class="sidebar-element">
                <a href="#/edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Редактировать запросы
                </a>
            </li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- jQuery -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Angular Scripts -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/ngstorage/ngStorage.min.js"></script>

<!-- Angular App Scripts -->
<script src="app.js"></script>
<script src="index/index.js"></script>
<script src="details/details.js"></script>
<script src="edit/edit.js"></script>

<!-- Font Awesome -->
<script src="//use.fontawesome.com/fed846fb80.js"></script>

<!-- Menu Toggle Script -->
<script>

    $(document).ready(function () {
        ;
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    })
</script>

</body>

</html>
